<IfModule mod_rewrite.c>
  RewriteEngine On

  # Izinkan akses langsung ke file-file tertentu di folder assets
  RewriteCond %{REQUEST_URI} ^/assets/.*\.(css|js|json|png|jpg|jpeg|gif|svg|woff2|eot|ttf|woff|webp)$ [NC]
  RewriteRule .* - [L]

  # Blokir akses langsung ke semua yang lain di dalam folder assets
  RewriteCond %{REQUEST_URI} ^/assets/ [NC]
  RewriteRule .* - [F]

  # Pengecualian untuk file yang ada dan direktori yang ada
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # Rewrite ke index.php untuk routing CodeIgniter
  RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>

<IfModule mod_headers.c>
  SetEnvIf Origin "https://dev-labschool-unesa.vercel.app$" AccessControlAllowOrigin=$0
  SetEnvIf Origin "https://smartapps.smalabschoolunesa1.sch.id$" AccessControlAllowOrigin=$0

  Header set Access-Control-Allow-Origin "%{AccessControlAllowOrigin}e" env=AccessControlAllowOrigin
  Header set Access-Control-Allow-Headers "Origin, X-Requested-With, Content-Type, Accept, Access-Control-Request-Method, Authorization"
  Header always set Access-Control-Allow-Methods "POST, GET, OPTIONS"
  Header always set Access-Control-Allow-Credentials "true"
  Header always edit Set-Cookie (.*) "$1; SameSite=None"
</IfModule>

<IfModule pagespeed_module>
  ModPagespeed Off
  ModPagespeedDisableFilters combine_javascript,inline_javascript,rewrite_javascript,combine_css,flatten_css_imports,inline_css,rewrite_css,convert_meta_tags,extend_cache,inline_import_to_link,rewrite_images
  Header set Server "Beon-x-Fast"
  Header set Cache-control "public, max-age=3650000"
  Header unset X-LS-Pagespeed
</IfModule>
